body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-box input {
    padding: 10px;
    width: 300px;
}

.search-box button {
    padding: 10px 20px;
}

#plantList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.plant-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}
#plantDetail {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: rgb(249, 247, 247);
    border: 1px solid #ddd;
    border-radius: 10px;
}

#plantDetail h2 {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#plantDetail {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#plantDetail h2 {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#favoritesList {
    max-width: 600px;
    margin: 30px auto;
}

.favorite-card {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}
#favoriteList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
